# building
menu "General Setup"
config PER_CPU_STACK_SIZE
    int "Per Cpu Stack size (should be 16 byte aligned)"
    default 16384
    help
        - Stack size that will be allocated after memory management subsystem is up and running (should be 16 byte aligned)


config BOOT_STACK_SIZE
    int "Boot stack size (should be 16 byte aligned)"
    default 16384
    help
        - Stack size that will be allocated before memory management subsystem is ready (should be 16 byte aligned)

endmenu

menu "Building"
choice OPTIMIZATIONS
    prompt "Optimizations level"
    default OPTIMIZATIONS_NONE

    config OPTIMIZATIONS_NONE
        bool "None"

    config OPTIMIZATIONS_LOW
        bool "Low"

    config OPTIMIZATIONS_MEDIUM
        bool "Medium"

    config OPTIMIZATIONS_HIGH
        bool "High (recommended)"

    config OPTIMIZATIONS_MAX
        bool "Max"
endchoice
endmenu

# drivers
menu "Drivers"
    config MAX_ACTIVE_DEVICES_COUNT
        int "Max number of devices that can be active"
        default 256
endmenu

# running
menu "Running via qemu"
config CPU_COUNT
    int "Cpu count"
    default 4

config PHYSICAL_MEMORY_MB
    int "Physical memory (in MB)"
    default 2048
endmenu

# hacking
menu "Hacking"
config DEBUG_CHECKS
    bool "Enable Debug checks"
    default y

config DEBUG_SYMBOLS
    bool "Enable debug symbols"
    default y

choice LOGGING_LEVEL
    prompt "Set level of logging"
    default LOGGING_LEVEL_DEBUG

    config LOGGING_LEVEL_TRACE
        bool "Trace"

    config LOGGING_LEVEL_DEBUG
        bool "Debug"

    config LOGGING_LEVEL_INFO
        bool "Info"

    config LOGGING_LEVEL_WARN
        bool "Warn"

    config LOGGING_LEVEL_ERROR
        bool "Error"
endchoice
endmenu
